In [2]:
# Pandas
import pandas as pd

# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import config

In [6]:
data = ['Toronto Blue Jays', 'Kansas City Royals', 84, 0.25, 4.3, 100.0, 0.23, 5.89, 84.0, 0.34, 0.3, 0.29, 0.33, 0.37, 0.5, 0.38, 0.34, 0.727, 0.69, 2, 1.0]

In [11]:
df = pd.DataFrame(data)
df2 = df.transpose()
df2

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,Toronto Blue Jays,Kansas City Royals,84,0.25,4.3,100,0.23,5.89,84,0.34,...,0.29,0.33,0.37,0.5,0.38,0.34,0.727,0.69,2,1

In [24]:
# Drop the null columns where all values are null
X = df2.drop(0, axis=1)
X1 = X.drop(1, axis=1)
X1

,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0,84,0.25,4.3,100,0.23,5.89,84,0.34,0.3,0.29,0.33,0.37,0.5,0.38,0.34,0.727,0.69,2,1

In [25]:
# Scale the data using MinMaxScaler
from sklearn.preprocessing import MinMaxScaler
X_scaler = MinMaxScaler().fit(X1)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype object were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [26]:
X1_scaled = X_scaler.transform(X1)

# Use Pickle

In [27]:
import pickle

# Load from file
with open('finalized_model.sav', 'rb') as file:  
    pickle_model = pickle.load(file)

# Predict target values
Ypredict = pickle_model.predict(X1_scaled)  
print(Ypredict)

['1']